body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: violet;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  font-size: 30px;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin: 0 15px;
}

main {
  padding: 10px 20px;
  gap: 10px;
  display: flex;
}

main section {
  flex-basis: 70%;
}

main aside {
  flex-basis: 30%;
  border-left: 2px dashed black;
}

main section img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

main section p {
  text-align: justify;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  padding: 10px 20px;
}

.social-media-icons i {
  margin: 0 10px;
}
