body {
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    -webkit-font-smoothing: antialiased;
}
.bar {
    background-color: #f2f2f1;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    color: #566366;
    margin: 0 0 20px 0;
}

.bar-inner1 {
    background-color: #2ecc71;
    width: 64%;
    content: "64%";
    color: #fff;
    height: 100%;
    position: relative;
    transition: width 3000ms linear;
}

.bar-inner2 {
    background-color: #2ecc71;
    width: 19%;
    height: 100%;
    position: relative;
    transition: width 3000ms linear;
}

.bar-inner3 {
    background-color: #2ecc71;
    width: 4%;
    height: 100%;
    position: relative;
    transition: width 3000ms linear;
}

.bar-inner4 {
    background-color: #2ecc71;
    width: 4%;
    height: 100%;
    position: relative;
    transition: width 3000ms linear;
}

.bar-inner5 {
    background-color: #2ecc71;
    width: 3%;
    height: 100%;
    position: relative;
    transition: width 3000ms linear;
}

.bar-inner6 {
    background-color: #2ecc71;
    width: 2%;
    height: 100%;
    position: relative;
    transition: width 3000ms linear;
}

.bar-inner7 {
    background-color: #2ecc71;
    width: 4%;
    height: 100%;
    position: relative;
    transition: width 3000ms linear;
}

.bar-inner:after {
    position: absolute;
    right: 2.5%;
    content: attr(data-percent);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}