html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    background-size: 20px 20px;
}

h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.container {
    max-width: 90%;
    background: #111;
    padding: 0.5em 0;
    box-shadow: 0 0 5px 5px rgba(255,255,255,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

video {
    background-color: black;
    max-width: 90%;
}

.speedControl {
    width: 2em;
    padding: 2px;
    border: 1px inset silver;
    box-sizing: border-box;
    background: black;
    align-self: stretch;
    margin: 0 0 0 0.5em;
    border-radius: 4px;
    overflow: hidden;
}

.indicator {
    user-select: none;
    color: white;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff393a;
    font-size: 0.7em;
    font-family: sans-serif;
}